<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Автомобиль</title>
    </h:head>
    <h:body>        
        <h:form>
            <h:panelGrid columns="2" border="1" cellpadding="10" cellspacing="1">                
                <f:facet name="header">
                    <h:outputText value="Карточка авто"/>
                </f:facet>        
                <h:outputText value="№"/>
                <h:outputText value="#{autoBean.selectedItem.id}"/>                
                <h:outputText value="Кузов"/>
                <h:selectOneMenu value="#{autoBean.selectedBody}" 
                                 validator="#{validatorBean.checkAvailableBody}">                   
                    <f:selectItems value="#{bodyBean.bodyes}"/>                
                </h:selectOneMenu>
                <h:outputText value="Двигатель"/>
                <h:selectOneMenu value="#{autoBean.selectedEngine}"
                                 validator="#{validatorBean.checkAvailableEngine}">
                    <f:selectItems value="#{engineBean.engines}"/>                
                </h:selectOneMenu>          
                <h:outputText value="Трансмиссия"/>
                <h:selectOneMenu value="#{autoBean.selectedTransmission}"
                                 validator="#{validatorBean.checkAvailableTransmission}">
                    <f:selectItems value="#{transmissionBean.transmissions}"/>                
                </h:selectOneMenu>          
                <f:facet name="footer">
                    <h:commandButton value="Сохранить" action="#{autoBean.saveItem()}"/>
                    <h:commandButton value="Закрыть" action="#{autoBean.cancelItem()}">
                        <f:ajax />
                    </h:commandButton>
                </f:facet>                            
            </h:panelGrid>            
        </h:form>
    </h:body>
</html>