<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Таблица автомобилей</title>
    </h:head>
    <h:body>        
        <h:form>            
            <h:dataTable id="auto" value="#{autoBean.items}" var="auto" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:commandButton value="Собрать авто" action="#{autoBean.addItem()}"/>
                    <h:commandButton value="Обновить" action="#{autoBean.refresh()}"/>
                    <h:outputText value="Таблица кузовов"/>
                </f:facet>        
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{auto.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Тип кузова"/>
                    </f:facet>
                    <h:outputText value="#{auto.body.bodyType.name}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Цвет"/>
                    </f:facet>
                    <h:outputText value="#{auto.body.color.name}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Дверей (шт.)"/>
                    </f:facet>
                    <h:outputText value="#{auto.body.doorCount}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="VIN Кузов"/>
                    </f:facet>
                    <h:outputText value="#{auto.body.vin}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="№ двигателя"/>
                    </f:facet>
                    <h:outputText value="#{auto.engine.sn}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Объем (См3)"/>
                    </f:facet>
                    <h:outputText value="#{auto.engine.volume}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Мощность (кВт)"/>
                    </f:facet>
                    <h:outputText value="#{auto.engine.power}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Тип двигателя"/>
                    </f:facet>
                    <h:outputText value="#{auto.engine.engineType.name}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="№ трансмиссии"/>
                    </f:facet>
                    <h:outputText value="#{auto.transmission.sn}"/>
                </h:column>                                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Тип трансмиссии"/>
                    </f:facet>
                    <h:outputText value="#{auto.transmission.transmissionType.name}"/>
                </h:column>                                
                <h:column>
                    <h:commandButton value="Редактировать" action="#{autoBean.editItem(auto)}"/> 
                </h:column>
                <h:column>
                    <h:commandButton value="Разобрать" action="#{autoBean.deleteItem(auto)}"/>
                </h:column>
                <f:facet name="footer">
                    <h:commandButton value="Закрыть" action="index"/>
                </f:facet>                        
            </h:dataTable>
        </h:form>
    </h:body>
</html>



