<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Карточка кузов</title>
    </h:head>
    <h:body>        
        <h:form>
            <h:panelGrid columns="2" border="1" cellpadding="10" cellspacing="1">                
                <f:facet name="header">
                    <h:outputText value="Карточка кузов"/>
                </f:facet>        
                <h:outputText value="№"/>
                <h:outputText value="#{bodyBean.selectedItem.id}"/>                
                <h:outputText value="Тип кузова"/>
                <h:selectOneMenu value="#{bodyBean.selectedBodyType}">
                    <f:selectItems value="#{bodyTypeBean.bodyTypes}"/>                
                </h:selectOneMenu>
                <h:outputText value="Цвет"/>
                <h:selectOneMenu value="#{bodyBean.selectedColor}">
                    <f:selectItems value="#{colorBean.colors}"/>                
                </h:selectOneMenu>          
                <h:outputText value="Кол-во дверей"/>
                <h:inputText  value="#{bodyBean.selectedItem.doorCount}"/>
                <h:outputText value="VIN"/>
                <h:inputText value="#{bodyBean.selectedItem.vin}"/>
                <f:facet name="footer">
                    <h:commandButton value="Сохранить" action="#{bodyBean.saveItem()}"/>
                    <h:commandButton value="Закрыть" action="#{bodyBean.cancelItem()}"/>
                </f:facet>                            
            </h:panelGrid>            
        </h:form>
    </h:body>
</html>