<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Таблица кузовов</title>
    </h:head>
    <h:body>        
        <h:form>            
            <h:dataTable value="#{bodyBean.items}" var="body" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:commandButton value="Добавить" action="#{bodyBean.addItem()}"/>
                    <h:commandButton value="Обновить" action="#{bodyBean.refresh()}"/>
                    <h:outputText value="Таблица кузовов"/>
                </f:facet>        
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{body.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Тип кузова"/>
                    </f:facet>
                    <h:outputText value="#{body.bodyType.name}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Цвет"/>
                    </f:facet>
                    <h:outputText value="#{body.color.name}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Дверей (шт.)"/>
                    </f:facet>
                    <h:outputText value="#{body.doorCount}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="VIN"/>
                    </f:facet>
                    <h:outputText value="#{body.vin}"/>
                </h:column>                
                <h:column>
                    <h:commandButton value="Редактировать" action="#{bodyBean.editItem(body)}"/> 
                </h:column>
                <h:column>
                    <h:commandButton value="Удалить" action="#{bodyBean.deleteItem(body)}"/>
                </h:column>
                <f:facet name="footer">
                    <h:commandButton value="Закрыть" action="index"/>
                </f:facet>                        
            </h:dataTable>
        </h:form>
    </h:body>
</html>

