<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Таблица цветов</title>
    </h:head>
    <h:body>
        <h:form>            
            <h:dataTable value="#{colorBean.items}" var="color" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:commandButton value="Добавить" action="#{colorBean.addItem()}"/>
                    <h:commandButton value="Обновить" action="#{colorBean.refresh()}"/>
                    <h:outputText value="Таблица цветов"/>
                </f:facet>        
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{color.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Имя"/>
                    </f:facet>
                    <h:outputText value="#{color.name}"/>
                </h:column>                
                <h:column>
                    <h:commandButton value="Редактировать" action="#{colorBean.editItem(color)}"/> 
                </h:column>
                <h:column>
                    <h:commandButton value="Удалить" action="#{colorBean.deleteItem(color)}"/>
                </h:column>
                <f:facet name="footer">
                    <h:commandButton value="Закрыть" action="index"/>
                </f:facet>                                        
            </h:dataTable>
        </h:form>
    </h:body>
</html>

