<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Таблица двигателей</title>
    </h:head>
    <h:body>        
        <h:form>            
            <h:dataTable value="#{engineBean.items}" var="engine" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:commandButton value="Добавить" action="#{engineBean.addItem()}"/>
                    <h:commandButton value="Обновить" action="#{engineBean.refresh()}"/>
                    <h:outputText value="Таблица двигателей"/>
                </f:facet>        
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{engine.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Тип двигателя"/>
                    </f:facet>
                    <h:outputText value="#{engine.engineType.name}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Объем"/>
                    </f:facet>
                    <h:outputText value="#{engine.volume}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Мощность"/>
                    </f:facet>
                    <h:outputText value="#{engine.power}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="SN"/>
                    </f:facet>
                    <h:outputText value="#{engine.sn}"/>
                </h:column>                
                <h:column>
                    <h:commandButton value="Редактировать" action="#{engineBean.editItem(engine)}"/> 
                </h:column>
                <h:column>
                    <h:commandButton value="Удалить" action="#{engineBean.deleteItem(engine)}"/>
                </h:column>
                <f:facet name="footer">
                    <h:commandButton value="Закрыть" action="index"/>
                </f:facet>                                        
            </h:dataTable>
        </h:form>
    </h:body>
</html>

