<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Карточка двигатель</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:outputText value="Карточка двигателя"/>
                </f:facet>                
                <h:outputText value="№"/>
                <h:outputText value="#{engineBean.selectedItem.id}"/>
                <h:outputText value="Тип двигателя"/>            
                <h:selectOneMenu value="#{engineBean.selectedEngineType}">
                    <f:selectItems value="#{engineTypeBean.engineTypes}"/>                
                </h:selectOneMenu>          
                <h:outputText value="Объем (см3)"/>            
                <h:inputText value="#{engineBean.selectedItem.volume}"/>
                <h:outputText value="Мощность (КВт)"/>            
                <h:inputText value="#{engineBean.selectedItem.power}"/>
                <h:outputText value="SN"/>            
                <h:inputText value="#{engineBean.selectedItem.sn}"/>
                <f:facet name="footer">
                    <h:commandButton value="Сохранить" action="#{engineBean.saveItem()}"/>
                    <h:commandButton value="Закрыть" action="#{engineBean.cancelItem()}"/>
                </f:facet>                
            </h:panelGrid>                
        </h:form>
    </h:body>
</html>