<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Фабрика автомобилей</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="3">
                <h:panelGroup >
                    <h:outputText value="Комплекты"/><br/>
                    <h:commandLink value="Автомобили" action="autoTable"/><br/>
                </h:panelGroup>            
                <h:panelGroup>
                    <h:outputText value="Комплектующие"/><br/>
                    <h:commandLink value="Двигатель" action="engineTable"/><br/>
                    <h:commandLink value="Трасмиссия" action="transmissionTable"/><br/>
                    <h:commandLink value="Кузов" action="bodyTable"/><br/>
                </h:panelGroup>            
                <h:panelGroup>
                    <h:outputText value="Справочники"/><br/>
                    <h:commandLink value="Цвета" action="colorTable"/><br/>
                    <h:commandLink value="Типы кузова" action="bodyTypeTable"/><br/>
                    <h:commandLink value="Типы двигателя" action="engineTypeTable"/><br/>
                    <h:commandLink value="Типы трасмиссии" action="transmissionTypeTable"/><br/>
                </h:panelGroup>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

