<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Карточка трансмиссия</title>
    </h:head>
    <h:body>        
        <h:form>
            <h:panelGrid columns="2" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:outputText value="Карточка трансмиссия"/>
                </f:facet>                
                <h:outputText value="№"/>
                <h:outputText value="#{transmissionBean.selectedItem.id}"/>
                <h:outputText value="SN"/>
                <h:inputText value="#{transmissionBean.selectedItem.sn}"/>
                <h:outputText value="Тип трансмиссии"/>
                <h:selectOneMenu value="#{transmissionBean.selectedTransmissionType}">
                    <f:selectItems value="#{transmissionTypeBean.transmissionTypes}"/>                
                </h:selectOneMenu>
                <f:facet name="footer">
                    <h:commandButton value="Сохранить" action="#{transmissionBean.saveItem()}"/>
                    <h:commandButton value="Закрыть" action="#{transmissionBean.cancelItem()}"/>
                </f:facet>                
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

