<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Карточка тип трансмиссии</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:outputText value="Карточка тип трансмиссии"/>
                </f:facet>                
                <h:outputText value="№"/>
                <h:outputText value="#{transmissionTypeBean.selectedItem.id}"/>
                <h:outputText value="Название"/>
                <h:inputText value="#{transmissionTypeBean.selectedItem.name}"/>
                <f:facet name="footer">
                    <h:commandButton value="Сохранить" action="#{transmissionTypeBean.saveItem()}"/>
                    <h:commandButton value="Закрыть" action="#{transmissionTypeBean.cancelItem()}"/>
                </f:facet>                
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

