<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Таблица трансмиссий</title>
    </h:head>
    <h:body>        
        <h:form>            
            <h:dataTable value="#{transmissionBean.items}" var="transmission" border="1" cellpadding="10" cellspacing="1">
                <f:facet name="header">
                    <h:commandButton value="Добавить" action="#{transmissionBean.addItem()}"/>
                    <h:commandButton value="Обновить" action="#{transmissionBean.refresh()}"/>
                    <h:outputText value="Таблица трансмиссий"/>
                </f:facet>        
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{transmission.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="SN"/>
                    </f:facet>
                    <h:outputText value="#{transmission.sn}"/>
                </h:column>                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Тип трансмиссии"/>
                    </f:facet>
                    <h:outputText value="#{transmission.transmissionType.name}"/>
                </h:column>                
                <h:column>
                    <h:commandButton value="Редактировать" action="#{transmissionBean.editItem(transmission)}"/> 
                </h:column>
                <h:column>
                    <h:commandButton value="Удалить" action="#{transmissionBean.deleteItem(transmission)}"/>
                </h:column>
                <f:facet name="footer">
                    <h:commandButton value="Закрыть" action="index"/>
                </f:facet>                                        
            </h:dataTable>
        </h:form>
    </h:body>
</html>

